body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#root {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.headerWrapper {
    width: 100%;
    display: flex;
    background-color: #f1be1c;
    justify-content: space-between;
    align-items: center;
}

.headerName {
    padding-left: 20px;
}

.navigate {
    max-width: 200px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #fef08a;
}

.navItem{
    color: #fef08a;
    padding-right: 10px;
}

.navItem:hover{
    color: #aba071;
}

.HeaderInput {
    height: 20px;
    background-color: #fef08a;
    margin: 5px 10px 5px 5px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
}

.UserName{
    padding-right: 20px;
}


.loginPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f5f9;
    height: 100%;
}

.loginPageTitle {
    padding-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
}

.loginPageSlogan {
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #ebb308;
    font-weight: 700;
}

.loadingPageMain {
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
}

.loadingPageInput {
    height: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: #989ba1;
    margin-bottom: 30px;
}

.loadingPageInput::placeholder {
    color: #989ba1;
}


.loadingPageButton {
    width: 180px;
    height: 50px;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    border: 1px solid transparent;
    color: #989ba1;
    margin-bottom: 120px;
}

.loginPageForm{
    display: flex;
    flex-direction: column;
    align-items: center
}

.menuUL {
    width: 90%;
    padding-right: 20px;
}

.menuItem {
    padding-top: 10px;
    display: flex;
    height: 150px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    justify-content: space-between

}

.menuItemImage{
    margin-right: 10px;
}

.black-and-white-image{
    filter: grayscale(100%);
    margin-right: 10px;
}


.menuItemUl{
    display: flex;
    padding-left: 1px;
    margin-bottom: 35px;
}

.menuItemLi{
    list-style-type: none;
    font-style: italic
}

.menuItemDescription{
    display: flex;
    flex-grow: 1
}

.menuItemDiv{
    width: 85%;
}

.menuItemTitle{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
}

.menuItemPrice{
    font-size: 22px;
    margin-top: 5px;
    font-weight: 500;
}

.menuItemButton {
    width: 150px;
    background-color: #f1be1c;
    height: 40px;
}

.cartName {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    padding-top: 25px;
    margin-bottom: 20px;
    justify-content: center
}

.cartItemsHolder {
    display: flex;
    flex-direction: column;
    align-items: center
}

.cartItemWrapper{
    display: flex;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #cbc9c9;
    align-items: center;
    width: 800px;
    justify-content: space-between
}

.cartItemHolder{
    display: flex;
    align-items: center;
}

.cartItemQty {
    font-size: 22px;
    font-weight: 500;
    padding-right: 10px;
}

.cartItemPizzaName {
    font-size: 22px;
    font-weight: 500;
}

.cartItemPlus {
    background-color: #f1be1c;
    margin-right: 5px;
}

.buttonBackToMenu{
   margin-top: 10px ;
    color: #535bf2;
    background-color: transparent;
}
.buttonBackToMenu:hover{
    background-color: #535bf2;
    color:white;
}

.active{
    text-decoration: underline;
}

.cartPageButtonWrapper {
    margin-bottom: 100px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #FF3D00;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}
